* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  background: rgba(212, 201, 201, 0.137);
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-left: 4vw;
  padding-right: 4vw;
  flex-wrap: wrap;
  height: 80px;
}

.logo {
  color: #ffffff;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
  margin: 1.3vw;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.button1 {
  background-color: #23a6f0;
  display: flex;
  color: #ffffff;
  padding: 0.7rem;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
}

.nav span {
  margin-left: 8%;
  color: #ffffff;
}

.button1 .iconify {
  margin-left: 0.8rem;
}

.bkg1 {
  background-image: url("images/hero-cover.3.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

.container-1 {
  height: 116vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container-1 h1 {
  color: #ffffff;
  font-size: 48px;
}

.container-1 p {
  color: #ffffff;
  margin-top: 3%;
}

.buttons {
  display: flex;
  margin-top: 3%;
}

.button2-s {
  padding: 1rem;
  margin: 2vw;
  border-radius: 2.5vw;
  color: #ffffff;
}

#button2 {
  background-color: #23a6f0;
}
#button3 {
  border: 1px solid #ffffff;
}

.container-1-s {
  margin-top: 10vh;
  height: 27vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.rows {
  background-color: #fafbfc;
  width: 25vw;
  height: 27vh;
  margin-left: 1vw;
  margin-right: 1vw;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
  padding: 1rem;
}

.rows p {
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
}

.container-2 {
  height: 50vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.rows-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: space-around;
  height: 25vh;
  text-align: center;
}

.rows-2 p {
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
}

.container-3 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background: rgba(212, 201, 201, 0.137);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.text p {
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
  margin-top: 4vh;
}

.rows-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid rgba(0, 0, 0, 0.479);
  margin-left: 3vw;
  margin-right: 3vw;
  height: 50vh;
  width: 17vw;
  text-align: center;
}

.col-4 p {
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
}

.users {
  width: 12vw;
}

.stars {
  width: 12vw;
  height: auto;
}

.container-4 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  background: rgba(212, 201, 201, 0.137);
}

.vectors {
  width: 9vw;
  height: 11vh;
}

.container-form {
  background: linear-gradient(to right, #3f5efb, #fc466b);
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.container-form p {
  margin: 5%;
  color: #fafbfc;
}

.container-form form {
  display: flex;
  align-items: center;
  margin: 5%;
}

#email {
  height: 10vh;
  width: 25vw;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border: none;
}

.sub {
  background-color: #23a6f0;
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 3%;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.container-5 {
  background: rgba(212, 201, 201, 0.137);
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 3%;
  flex-wrap: wrap;
}

.text2 {
  text-align: center;
}

.text2 p {
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
  margin-top: 2vh;
}

.row-4 {
  display: flex;
  width: 100%;
  height: 75vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.col-sm-4 {
  background: #fafbfc;
  border: 1px solid #23a6f0;
  width: 23%;
  height: 70vh;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.col-sm-4 h2 {
  text-align: center;
  text-transform: uppercase;
}

.col-sm-4 h5 {
  text-align: center;
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
}

.price {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.price span {
  color: #23a6f0;
  font-size: x-large;
  margin-right: 1vw;
}

.dollar p {
  color: #23a6f0;
}

.dollar h6 {
  color: #23a5f08c;
}

.list {
  display: flex;
  margin-left: 3vw;
  color: rgba(0, 0, 0, 0.884);
  font-size: 12px;
  font-weight: 50;
}

.btns {
  display: flex;
  align-self: center;
  background: #23a6f0;
  padding: 3%;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 17vw;
  border-radius: 0.175em;
  color: #fafbfc;
}

#largecol {
  background: #252b42;
  padding-top: 2vh;
  height: 75vh;
  color: #fafbfc;
}

#largecol h5 {
  color: #fafbfc;
}

#largecol .list {
  color: #fafbfc;
}

.circles {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: green;
  margin-right: 1vw;
}

.circle2 {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: rgb(60, 61, 60);
  margin-right: 1vw;
}

.container-6 {
  background: #252b42;
  height: 100vh;
  width: 100%;
}

.container-6 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 8%;
}

.text3 h1 {
  color: #fafbfc;
}

.text3 p {
  color: #fafbfc;
  margin-top: 2vh;
  font-size: small;
  font-weight: lighter;
}

#world {
  width: 40vw;
  height: 40vh;
}

.container-form2 {
  height: 80vh;
  width: 70%;
  display: flex;
  background: #fafbfc;
  position: absolute;
  margin-top: 50vh;
  margin-left: 7%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
}

.formed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5vw;
}

.formed form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formed form input {
  width: 35vw;
  height: 5vh;
  align-self: center;
  margin: 3%;
}

.formed form button {
  width: 35vw;
  height: 6vh;
  margin-top: 5%;
  background: #23a6f0;
  color: #fafbfc;
  border: none;
}

#contactImg {
  height: 80vh;
  width: 25vw;
}

.container-7 {
  background: rgba(212, 201, 201, 0.137);
  height: 80vh;
  width: 100%;
}

.row5 {
  padding-top: 60vh;
  display: flex;
  justify-content: space-around;
}

.text4 p {
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
  margin-top: 2vh;
}

.row5 button {
  width: 8vw;
  background: #23a6f0;
  color: #fafbfc;
  border: none;
}

.footer {
  height: 40vh;
}

.others {
  height: 33vh;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.rows-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rows-6 ul li {
  list-style: none;
  margin: 0.7em;
}

.rows-6 ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
}

.phone {
  display: flex;
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
}

.location {
  display: flex;
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
}

.mailbox {
  display: flex;
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
}

.foot {
  height: 7vh;
  background: rgba(212, 201, 201, 0.137);
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.foot p {
  color: rgba(0, 0, 0, 0.479);
  font-size: 14px;
  font-weight: 50;
}
