* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-left: 4vw;
  padding-right: 4vw;
  flex-wrap: wrap;
  height: 80px;
}

.logo {
  color: #ffffff;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
  margin: 1.3vw;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.button1 {
  background-color: #23a6f0;
  display: flex;
  color: #ffffff;
  padding: 0.7rem;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
}

.nav span {
  margin-left: 8%;
  color: #ffffff;
}

.button1 .iconify {
  margin-left: 0.8rem;
}

.bkg1 {
  background-image: url("images/hero-cover.3.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  opacity: 0.9;
}

.container-1 {
  height: 116vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(rgb(17, 17, 17), rgb(21, 22, 21), rgb(13, 13, 14), 1);
  z-index: 99;
}

.container-1 h1 {
  color: #ffffff;
  font-size: 48px;
}

.container-1 p {
  color: #ffffff;
  margin-top: 3%;
}

.buttons {
  display: flex;
  margin-top: 3%;
}

.button2-s {
  padding: 1rem;
  margin: 2vw;
  border-radius: 2.5vw;
  color: #ffffff;
}

#button2 {
  background-color: #23a6f0;
}
#button3 {
  border: 1px solid #ffffff;
}

.container-1-s {
  margin-top: 10vh;
  height: 27vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rows {
  background-color: #fafbfc;
  width: 25vw;
  height: 27vh;
  margin-left: 1vw;
  margin-right: 1vw;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
  padding: 1rem;
}

.rows p {
  color: rgba(0, 0, 0, 0.479);
  font-size: 12px;
  font-weight: 50;
}
