* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-left: 4vw;
  padding-right: 4vw;
  flex-wrap: wrap;
}

.logo {
  color: #ffffff;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
  margin: 1.3vw;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.button1 {
  background-color: #23a6f0;
  display: flex;
  color: #ffffff;
  padding: 0.7rem;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
}

.nav span {
  margin-left: 10%;
  color: #ffffff;
}

.button1 .iconify {
  margin-left: 0.8rem;
}

.bkg1 {
  background-image: url("images/hero-cover.3.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
}
